# ----------------------------------------------------------------------
# Better website experience for IE users
# ----------------------------------------------------------------------

Redirect 301 /statement.html /spiel/statement.html
Redirect 301 /resume.html /spiel/index.html

# Force the latest IE version, in various cases when it may fall back to IE7 mode
# github.com/rails/rails/commit/123eb25#commitcomment-118920

<IfModule mod_setenvif.c>
  <IfModule mod_headers.c>
    BrowserMatch MSIE ie
    Header set X-UA-Compatible "IE=Edge" env=ie
  </IfModule>
</IfModule>

<IfModule mod_headers.c>
# Because X-UA-Compatible isn't sent to non-IE (to save header bytes),
# We need to inform proxies that content changes based on UA
  Header append Vary User-Agent
# Cache control is set only if mod_headers is enabled, so that's unncessary to declare
</IfModule>


<IfModule mod_rewrite.c>
  #RewriteEngine On
  
  ## Pre-compressed files
#    AddEncoding x-gzip .gz
  # RemoveType application/x-gzip .gz

  # If client accepts compressed files
  # RewriteCond %{HTTP:Accept-Encoding} .*gzip.* 
  # RewriteCond %{REQUEST_FILENAME}.gz -s
  ## -s is a readable file with size GT zero
  ## send .html.gz instead of .html
  # RewriteRule ^(.+\.html|.+\.css|.+\.js)$ /$1.gz [L]

  #<IfModule mod_mime.c>
  #  <FilesMatch .*\.css.gz>
  #    ForceType text/css
  #	  <IfModule mod_headers.c>
  #  	Header set Content-Encoding: deflate
#	  </IfModule>
#    </FilesMatch>

#    <FilesMatch .*\.js.gz>
#      ForceType text/javascript
#  	  <IfModule mod_headers.c>
#		Header set Content-Encoding: deflate
#  	  </IfModule>
#    </FilesMatch>

#    <FilesMatch .*\.html.gz>
#      ForceType text/html
#	  <IfModule mod_headers.c>
#		Header set Content-Encoding: deflate
#	  </IfModule>
#    </FilesMatch>

#    <Files "*.gz">
#  	  AddEncoding gzip .gz
#    </Files>
 # </IfModule>
  
  ## No file robbery
  #Options +FollowSymlinks -Indexes
  #RewriteCond "%{HTTP_REFERER}" !=""
  #RewriteCond "%{HTTP_REFERER}" "!^http://([^/]*\.]?jamesacook.net/.*$" [NC]
  #RewriteRule \.(jpg|gif|png)$ - [F]

  ##Block hotlinking of font files
  #RewriteCond %{HTTP_REFERER} !^http://(www\.)?jamesacook\.net/.*$ [NC]
  #RewriteRule \.(woff|eot|otf|ttf)$ - [F,NC,L]

  # you probably want www.example.com to forward to example.com -- shorter URLs are sexier.
  #   no-www.org/faq.php?q=class_b
  # RewriteCond %{HTTPS} !=on
  # RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
  # RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
</IfModule>

## Video
#DO NOT CACHE SWF; FLOWPLAYER WON'T WORK! BUT F4V/FLV CACHING IS FINE.

# AddType video/x-f4v	f4v
# AddType video/x-flv	flv

AddType video/mp4	mp4 
# AddType video/ogg	ogv 
# AddType video/webm	webm

# "Exotic" image types
# AddType image/webp	webp

## For ogg media to help Firefox; set one for each ogv file; the long way, but reduces HTTP requests
## Use oggz-info to find the duration
# <Files "elephant.ogv">
# Header set X-Content-Duration "653.791"
# </Files>

## Webfonts

# AddType application/vnd.bw-fontobject eot
# AddType application/x-font-ttf ttf
# Addtype font/eot eot
# AddType application/octet-stream otf ttf

Addtype font/opentype otf
AddType application/vnd.ms-fontobject eot
Addtype font/truetype ttf

# AddType font/woff woff
## must be application/x-woff and not font/woff else FF will download it twice;
## However Chrome complains its the wrong type, perhaps expecting font/woff
AddType application/x-font-woff  woff 

## Proper svg serving. Required for svg webfonts on iPad:
##     twitter.com/FontSquirrel/status/14855840545
AddType     image/svg+xml             svg svgz 
AddEncoding gzip                      svgz

AddType	image/x-icon	ico

# ----------------------------------------------------------------------
# gzip compression
# ----------------------------------------------------------------------
<IfModule mod_deflate.c>

  # force deflate for mangled headers developer.yahoo.com/blogs/ydn/posts/2010/12/pushing-beyond-gzipping/
  <IfModule mod_setenvif.c>
  	<IfModule mod_headers.c>
	    SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s,?\s(gzip|deflate)?|X{4,13}|~{4,13}|-{4,13})$ HAVE_Accept-Encoding
	    RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
	  </IfModule>
	</IfModule>

	# html, txt, css, js, json, xml:
	AddOutputFilterByType DEFLATE text/html text/plain text/css application/json
	AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript 
	AddOutputFilterByType DEFLATE text/xml application/xml
	AddOutputFilterByType DEFLATE font/opentype font/truetype font/eot application/vnd.ms-fontobject
</IfModule>

## Caching
# FileETag None
## Page speed wants to see this, but most recommend uncommenting it and letting there be no etags

<IfModule mod_expires.c>
  ExpiresActive on
  
## Better to whitelist expires rules rather than set a default
## Don't set a default; tis better to explicitly define caching rules!
# ExpiresDefault                          "access plus 1 month"
#  ExpiresByType text/html                 "access plus 0 seconds"

### KEEP, EVEN WITH FILESMATCH ABOVE
## data
  ExpiresByType text/xml                  "access plus 0 seconds"
  ExpiresByType application/xml           "access plus 0 seconds"
  ExpiresByType application/json          "access plus 0 seconds"

# favicon (cannot be renamed)
  ExpiresByType image/x-icon              "access plus 1 month"
  
# media: images, video, audio
  ExpiresByType image/gif                 "access plus 1 month"
  ExpiresByType image/png                 "access plus 1 month"
  ExpiresByType image/jpg                 "access plus 1 month"
  ExpiresByType image/jpeg                "access plus 1 month"
  ExpiresByType audio/ogg                 "access plus 1 month"
  ExpiresByType video/ogg                 "access plus 1 month"
  ExpiresByType video/mp4                 "access plus 1 month"
  ExpiresByType video/webm                "access plus 1 month"
  
# webfonts
  ExpiresByType font/truetype             "access plus 1 month"
  ExpiresByType font/opentype             "access plus 1 month"
  ExpiresByType image/svg+xml             "access plus 1 month"
  ExpiresByType application/vnd.ms-fontobject "access plus 1 month"
  ExpiresByType font/eot 				  "access plus 1 month"
  ExpiresByType application/x-font-woff	  "access plus 1 month"
    
# css and javascript
  ExpiresByType text/css                  "access plus 1 month"
  ExpiresByType application/javascript    "access plus 1 month"
  ExpiresByType text/javascript           "access plus 1 month"
</IfModule>

# Cache Headers
<IfModule mod_headers.c>
	# Header unset Last-Modified
	# Header unset ETag
  
    <FilesMatch "\.(html|js|css|xml|gz)$">
      Header append Vary Accept-Encoding
    </FilesMatch>
	
    # Cache image files for 30 days
	<FilesMatch "\.(png|jpg|gif|ico)$">
		Header set Cache-Control "max-age=2592000, public"
	</FilesMatch>
	
	<FilesMatch "\.(html|shtml|htm)$"> 
		## or "*.(...)"
		# 10 minutes
		Header set Cache-Control "max-age=600, private, must-revalidate"
	</FilesMatch>
	
	<FilesMatch "\.(js)$">
		# 1 week / 7 days
		Header set Cache-Control "max-age=604800, private"
	</FilesMatch>
	
	<FilesMatch "\.(css)$">
		# 1 week / 7 days
		Header set Cache-Control "max-age=604800, public"
	</FilesMatch>
	
	<FilesMatch "\.(mp4|m4v|webm|ogv|ogg|pdf|txt)$">
		## 30 days / 1 month
		Header set Cache-Control "max-age=2592000, public"
	</FilesMatch>
	
	<FilesMatch "\.(eot|woff|ttf|otf|svg|svgz)$">
		## 30 days / 1 month
		Header set Cache-Control "max-age=2592000, public" 
	</FilesMatch>
</IfModule>

# custom 404 page
ErrorDocument 404 /404.html

# use utf-8 encoding for anything served text/plain or text/html
AddDefaultCharset UTF-8
# force utf-8 for a number of file formats
AddCharset UTF-8 .html .css .js .xml .json .rss	.txt .gz

# Save some bytes from the header
ServerSignature Off
# ServerTokens Prod

# ----------------------------------------------------------------------
# Suppress or force the "www." at the beginning of URLs
# ----------------------------------------------------------------------

# The same content should never be available under two different URLs - especially not with and
# without "www." at the beginning, since this can cause SEO problems (duplicate content).
# That's why you should choose one of the alternatives and redirect the other one.

# By default option 1 (no "www.") is activated. Remember: Shorter URLs are sexier.
# no-www.org/faq.php?q=class_b

# If you rather want to use option 2, just comment out all option 1 lines
# and uncomment option 2.
# IMPORTANT: NEVER USE BOTH RULES AT THE SAME TIME!

# ----------------------------------------------------------------------

# Option 1:
# Rewrite "www.domain.com -> domain.com"

#<IfModule mod_rewrite.c>
#  RewriteCond %{HTTPS} !=on
#  RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
#  RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
#</IfModule>

# ----------------------------------------------------------------------

# Option 2:
# To rewrite "domain.com -> www.domain.com" uncomment the following lines.
# Be aware that the following rule might not be a good idea if you
# use "real" subdomains for certain parts of your website.

# <IfModule mod_rewrite.c>
# RewriteCond %{HTTPS} !=on
# RewriteCond %{HTTP_HOST} !^www\..+$ [NC]
# RewriteCond %{HTTP_HOST} (.+)$ [NC]
# RewriteRule ^(.*)$ http://www.%1/$1 [R=301,L]
# </IfModule>

### DISABLE .HTACCESS IN LOWER DIRECTORIES...
#<DIRECTORY "/sculpture">
#	AllowOverRide None
#</DIRECTORY>