@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'AurulentSansRegular';
	src: url('/media/fonts/AurulentSans-Regular-webfont.eot');
	src: url('/media/fonts/AurulentSans-Regular-webfont.woff') format('woff'), url('/media/fonts/AurulentSans-Regular-webfont.ttf') format('truetype'), url('/media/fonts/AurulentSans-Regular-webfont.svg#webfont8XBZZzyb') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AurulentSansBold';
	src: url('/media/fonts/AurulentSans-Bold-webfont.eot');
	src: url('/media/fonts/AurulentSans-Bold-webfont.woff') format('woff'), url('/media/fonts/AurulentSans-Bold-webfont.ttf') format('truetype'), url('/media/fonts/AurulentSans-Bold-webfont.svg#webfontfq5mClxr') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #666;
	color: #B3B3B3;
	font-family:AurulentSansRegular;
	letter-spacing:2px;
}
	div#body {}
		div#banner {}
			h1 {
				margin-left:-9999em;
				line-height:0;
			}
		ul#navigation {
			border-top: 1px solid #B3B3B3;
			border-bottom: 1px solid #B3B3B3;
			padding-top: 5px;
			padding-bottom: 5px;
			background-color:#666;
			color:#FFF;
		}
			ul#navigation li{
				list-style-type:none;
				text-align:left;
				border-left: 1px solid #B3B3B3;
			}
				ul#navigation li a {
					color:#B3B3B3;
					font-size:1em;
					text-decoration:none;
					font-variant:small-caps;
					display:block;
					border-left: 1px solid #B3B3B3;
					margin-left:1.5em;
					padding-left:0.8em;
				}
				.active {
					background-image: url(/artwork/circle.gif);
					background-repeat:no-repeat;
					background-position: 2px 3px;
				}
				.active_link {
					color: #FFF !important;
				}
			div#content {}
				div#text {
				}
				div#text h2 {
					/* parent styles were not cascading from div#text, so we repeat for h2 */
					font-family:AurulentSansBold;
					font-size:0.9em;
					font-weight: bold;
					color: #B3B3B3;
					font-variant:small-caps;
				}
				div#text p, div#text li {
					font-family:AurulentSansBold;
					font-size:0.9em;
					font-weight: bold;
					color: #B3B3B3;
					font-variant:small-caps;
				}
				div#text p.materials {}
				div#text p.description, div.spiel p {
					text-indent:0.75em;
				}
				div#text a {
					text-decoration:none;
					border-bottom:1px dotted #B3B3B3;
					color:#B3B3B3;
				}
				div#media {
					text-align:right;
				}
				div#media img, div#media a {
					border:1px solid #FFCC33;
					padding:1px;
				}
				div.thumbnail {				
				}
				div.thumbnail > a {
					display:block;
					text-align: center;
					text-decoration:none;
					border-bottom:0;
				}
				div.thumbnail > img, div.thumbnail > a > img {
					margin-left:1.9em;
					border:1px solid #FFCC33;
					padding:1px;				
				}
			div#footer {
				font-size:0.7em;
				text-align:center;
			}