@charset "utf-8";
/*
works for GTK-webkit
<!--[if IE]>
<style>
  @font-face {
    font-family: 'Graublau Web';
    src: url('GraublauWeb.eot');
  }
</style>
<![endif]-->

<style>
@font-face {
  font-family: 'Graublau Web';
  src: url(//:) format("no404"),
    url("GraublauWeb.woff") format("woff"),
    url("GraublauWeb.otf") format("opentype"),
    url("GraublauWeb.svg#grablau") format("svg");
}
</style>
*/

/* http://readableweb.com/mo-bulletproofer-font-face-css-syntax/
Avoids IE6-8 erroneous HTTP request (and subsequent 404)
@font-face {
	font-family: 'PaddingtonSCPlainSmallCapsRom';
	src: url('paddingtonsc-webfont.eot');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PaddingtonSCPlainSmallCapsRom';
	src: url(//:) format('no404'), url('paddingtonsc-webfont.woff') format('woff'), url('paddingtonsc-webfont.ttf') format('truetype'), url('paddingtonsc-webfont.svg#webfontCykG2Qou') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/
@font-face {
	font-family: 'PaddingtonSCPlainSmallCapsRom';
	src: url('/fonts/paddingtonsc-webfont.eot');
	src: local('☺'), url('/fonts/paddingtonsc-webfont.woff') format('woff'), url('/fonts/paddingtonsc-webfont.ttf') format('truetype'), url('/fonts/paddingtonsc-webfont.svg#webfontCykG2Qou') format('svg');
	font-weight: normal;
	font-style: normal;	
	/*font-variant:small-caps; is unneccesary with this font.*/
	/* font-variant: normal; don't include this since webkit will ignore the whole rule: https://bugs.webkit.org/show_bug.cgi?id=25000 */
}

/*@media all and (max-width: 699px) and (min-width: 520px) {
	
}*/

@media print {
	body {line-height:1.5;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;color:#000;background:none;font-size:10pt;}
	.container {background:none;}
	hr {background:#ccc;color:#ccc;width:100%;height:2px;margin:2em 0;padding:0;border:none;}
	h1, h2, h3, h4 {font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;}
	code {font:.9em "Courier New", Monaco, Courier, monospace;}
	a img {border:none;}
	blockquote {margin:1.5em;padding:1em;font-style:italic;font-size:.9em;}
	a:link, a:visited {background:transparent;font-weight:700;text-decoration:none;}
	a:link:after, a:visited:after {content:" (" attr(href) ")";font-size:90%;}
    #navigation, #skip, #footer ul, #media, #next, #prev {display:none;}
	.span-4 {width:150px;}
	div.span-13 > div.span-8 {width:310px;}
	div.span-4 + div.span-4 {clear:right;}
	div.span-13 > div.span-8, .span-4 {float:left;margin-right:10px;}
	#footer {clear:both;width:100%;}
}

@media screen {
	html {margin:0;padding:0;border:0;}
	body, div, object, h1, h2, h3, h4, p, blockquote, a, abbr, code, em, img, q, dl, dt, dd, ol, ul, li {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
	body {line-height:1.5;background:white;}
	table {border-collapse:separate;border-spacing:0;}
	caption, th, td {text-align:left;font-weight:normal;float:none !important;}
	table, th, td {vertical-align:middle;}
	blockquote:before, blockquote:after, q:before, q:after {content:'';}
	blockquote, q {quotes:"" "";}
	a img {border:none;}
	:focus {outline:0;}	
	html {font-size:100.01%;}
	body {font-size:75%;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
	h1, h2, h3, h4 {font-weight:bold;}
	h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
	h2 {font-size:2em;margin-bottom:0.75em;}
	h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
	h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
	p {margin:0 0 1.5em;}
	a {text-decoration:underline;}
	blockquote {margin:1.5em;}
	strong {font-weight:bold;}
	em {font-style:italic;}
	sup {line-height:0;}
	abbr {border-bottom:1px dotted #666;}
	code {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
	ul, ol {margin:0 1.5em 1.5em 0;padding-left:1.5em;}
	ul {list-style-type:disc;}
	ol {list-style-type:decimal;}
	dl {margin:0 0 1.5em 0;}
	dl dt {font-weight:bold;}
	dd {margin-left:1.5em;}
	table {margin-bottom:1.4em;width:100%;}
	th {font-weight:bold;}
	th, td, caption {padding:4px 10px 4px 5px;}
	.container {width:950px;margin:0 auto;}
	.span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-13, .span-14, .span-16, .span-17, .span-22, .span-23, .span-24 {float:left;margin-right:10px;}
	.last {margin-right:0;}
	.span-1 {width:30px;}
	.span-2 {width:70px;}
	.span-3 {width:110px;}
	.span-4 {width:150px;}
	.span-5 {width:190px;}
	.span-6 {width:230px;}
	.span-7 {width:270px;}
	.span-8 {width:310px;}
	.span-13 {width:510px;}
	.span-14 {width:550px;}
	.span-16 {width:630px;}
	.span-17 {width:670px;}
	.span-22 {width:870px;}
	.span-23 {width:910px;}
	.span-24 {width:950px;margin-right:0;}
	.append-1 {padding-right:40px;}
	.append-3 {padding-right:120px;}
	.prepend-1 {padding-left:40px;}
	.prepend-3 {padding-left:120px;}
	.prepend-4 {padding-left:160px;}
	.prepend-5 {padding-left:200px;}
	.prepend-20 {padding-left:800px;}
	.colborder {padding-right:24px;margin-right:25px;border-right:1px solid #ddd;}
	div.prepend-top, .prepend-top {margin-top:1.5em;}
	div.append-bottom, .append-bottom {margin-bottom:1.5em;}
	hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:1px;margin:0 0 1.45em;border:none;}
		
	body {
		background-color: #666;
		color: #e4e4e4;
		font-family:PaddingtonSCPlainSmallCapsRom, Arial, sans-serif;
		letter-spacing:1px;
		font-weight:normal;
	}
	/*div#body {}
		div#banner {}*/
			h1 {
				margin-left:-9999em;
				line-height:0;
			}
			#skip a, #skip a:hover, #skip a:visited { 
				position:absolute; 
				left:0px; 
				top:-500px; 
				width:1px; 
				height:1px; 
				overflow:hidden;
			}
			#skip a:active, #skip a:focus { 
				position:static; 
				width:auto; 
				height:auto; 
				text-decoration:none;
				border-bottom:1px dotted #e4e4e4;
				color:#e4e4e4;
			}
		/*ul*/#navigation {
			border-top: 1px solid #e4e4e4;
			border-bottom: 1px solid #e4e4e4;
			padding-top: 5px;
			padding-bottom: 5px;
			background-color:#666;
			color:#FFF;
			margin-bottom:0.5em;
		}
			#navigation li{
				list-style-type:none;
				text-align:left;
				border-left: 1px solid #e4e4e4;
			}
				#navigation li a {
					color:#e4e4e4  /*#B3B3B3*/;
					font-size:1.2em;
					text-decoration:none;
					/*font-variant:small-caps;*/
					/* without arulentsans-smallcaps, this borks the @font-face in Webkit: http://mwhenry.com/blog/2010/04/ugly-font-variant-bug/ */
					display:block;
					border-left: 1px solid #e4e4e4;
					margin-left:1.3em;
					padding-left:.8em;
				}
				.active {
					background-image: url('/artwork/circle.gif');
					background-repeat:no-repeat;
					background-position: 2px 4px;
				}
				.active_link {
					color: #FFF !important;
				}
				#navigation li a:visited {
					color:#B3B3B3;
				}
			#prev {
				text-align:left;
			}
			#next {
				text-align:right;
			}
				#next a, #prev a {
					color:#e4e4e4  /*#B3B3B3*/;
					font-size:0.8em;
					text-decoration:none;
				}
			/*div#content {}
				div#text {}*/
				#text h2, #text h3, #text h4/*, #text h5*/ {
					/* parent styles were not cascading from div#text, so we repeat for h2 */
					font-family:PaddingtonSCPlainSmallCapsRom,"Arial Bold",Arial;
					font-size:1.2em;
					font-weight: normal;
					/*font-weight: bold; this doesn't look good at all bolded*/
					color: #e4e4e4;
				}
				#text ul {
					padding-left:1.3em;
				}
				thead th {
					background:#e4e4e4;
					color:#666;
					vertical-align:top;
					text-align:left;
				}
				#text p, #text li {
					font-family:PaddingtonSCPlainSmallCapsRom,"Arial Bold",Arial;
					font-size:1.2em;
					font-weight: normal;
					color: #e4e4e4;
				}
				/*#text p.materials {}*/
				/* http://webtypography.net/Rhythm_and_Proportion/Blocks_and_Paragraphs/2.3.2/ */
				p.description + p.description, .index p + p, .spiel p + p {
					text-indent:1em;
					/*font-variant:normal;*/
				}
				#text a {
					text-decoration:none;
					border-bottom:1px dotted #e4e4e4;
					color:#e4e4e4;
				}
				#text a:visited {}
				#text blockquote {
					margin-top:0;
					margin-bottom:0;
					font-style:normal;
				}
				/*div*/#media {
					text-align:right;
				}
				#media img, #media a {
					border:1px solid #FC3;
					padding:1px;
				}
				#player {
					display:block;
					width:445px;
					height:340px;
					margin-left:22px;
				}
				/* div.thumbnail {} */
				/*div*/.thumbnail > a {
					display:block;
					text-align: center;
					text-decoration:none;
					border-bottom:0;
				}
				/*div*/.thumbnail > img, /*div*/.thumbnail > a > img {
					margin-left:23px;
					margin-right:2px;
					border:1px solid #FC3;
					padding:1px;				
				}
				.thumbnail > a:visited > img {
					border:1px solid #CCA329;
				}
			/*div*/#footer {
				font-family:PaddingtonSCPlainSmallCapsRom,"Arial Bold",Arial;
				font-size:.8em;
				text-align:center;
				padding-top:1em;
			} 
				#footer ul {
					list-style-type:none;
				}
				#footer a {
					text-decoration:none;
					border-bottom:1px dotted #e4e4e4;
					color:#e4e4e4;
				} 
				#footer a:visited {
					color:#B3B3B3;
				}
	/*
		ColorBox Core Style
		The following rules are the styles that are consistant between themes.
		Avoid changing this area to maintain compatability with future versions of ColorBox.
	*/
	#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
	#cboxOverlay{position:fixed; width:100%; height:100%;}
	#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
	#cboxContent{position:relative;}
	#cboxLoadedContent{overflow:auto;}
	#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
	#cboxTitle{margin:0;}
	#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
	#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
	
	/* 
		ColorBox example user style
		The following rules are ordered and tabbed in a way that represents the
		order/nesting of the generated HTML, so that the structure easier to understand.
	*/
	#cboxOverlay{background:#000;}
	
	#colorbox{}
		#cboxContent{margin-top:20px;}
			#cboxLoadedContent{background:#000; padding:5px;}
			#cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
			#cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
			#cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
			#cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px; background:url(/artwork/controls.png) top left no-repeat; width:28px; height:65px; text-indent:-9999px;}
			#cboxPrevious.hover{background-position:bottom left;}
			#cboxNext{position:absolute; top:50%; right:5px; margin-top:-32px; background:url(/artwork/controls.png) top right no-repeat; width:28px; height:65px; text-indent:-9999px;}
			#cboxNext.hover{background-position:bottom right;}
			#cboxLoadingOverlay{background:#000;}
			#cboxLoadingGraphic{background:url(/artwork/loading.gif) center center no-repeat;}
			#cboxClose{position:absolute; top:5px; right:5px; display:block; background:url(/artwork/controls.png) top center no-repeat; width:38px; height:19px; text-indent:-9999px;}
			#cboxClose.hover{background-position:bottom center;}
}